# Data Joining

In [ ]:
import pyspark
from pyspark.sql import SparkSession
# Create a Spark session
spark = SparkSession.builder.appName("Data Joining").getOrCreate()

### Inner Join

In [1]:

df_left = spark.createDataFrame([(1001,1,100),(1002,2,200), 
(1003,3,300),(1004,1,200),(1005,6,200)],["order_id","customer_id","amount"])
df_left.show()

+--------+-----------+------+
|order_id|customer_id|amount|
+--------+-----------+------+
|    1001|          1|   100|
|    1002|          2|   200|
|    1003|          3|   300|
|    1004|          1|   200|
|    1005|          6|   200|
+--------+-----------+------+

In [2]:
df_right = spark.createDataFrame([(1,"john"), 
(2,"mike"),(3,"tony"),(4,"kent")],["customer_id","name"])
df_right.show()

+-----------+----+
|customer_id|name|
+-----------+----+
|          1|john|
|          2|mike|
|          3|tony|
|          4|kent|
+-----------+----+

In [4]:
df_left.join(df_right,on="customer_id",how="inner").show()

+-----------+--------+------+----+
|customer_id|order_id|amount|name|
+-----------+--------+------+----+
|          1|    1001|   100|john|
|          1|    1004|   200|john|
|          2|    1002|   200|mike|
|          3|    1003|   300|tony|
+-----------+--------+------+----+

### Left Join

In [6]:
df_left.join(df_right,on="customer_id",how="left").show()
df_left.join(df_right,on="customer_id",how="left_outer").show()
df_left.join(df_right,on="customer_id",how="leftouter").show()

+-----------+--------+------+----+
|customer_id|order_id|amount|name|
+-----------+--------+------+----+
|          1|    1001|   100|john|
|          2|    1002|   200|mike|
|          3|    1003|   300|tony|
|          1|    1004|   200|john|
|          6|    1005|   200|NULL|
+-----------+--------+------+----+

+-----------+--------+------+----+
|customer_id|order_id|amount|name|
+-----------+--------+------+----+
|          1|    1001|   100|john|
|          2|    1002|   200|mike|
|          3|    1003|   300|tony|
|          1|    1004|   200|john|
|          6|    1005|   200|NULL|
+-----------+--------+------+----+

+-----------+--------+------+----+
|customer_id|order_id|amount|name|
+-----------+--------+------+----+
|          1|    1001|   100|john|
|          2|    1002|   200|mike|
|          3|    1003|   300|tony|
|          1|    1004|   200|john|
|          6|    1005|   200|NULL|
+-----------+--------+------+----+

### Full Join

In [8]:
df_left.join(df_right,on="customer_id",how="full").show()
df_left.join(df_right,on="customer_id",how="fullouter").show()
df_left.join(df_right,on="customer_id",how="full_outer").show()

+-----------+--------+------+----+
|customer_id|order_id|amount|name|
+-----------+--------+------+----+
|          1|    1001|   100|john|
|          1|    1004|   200|john|
|          2|    1002|   200|mike|
|          3|    1003|   300|tony|
|          4|    NULL|  NULL|kent|
|          6|    1005|   200|NULL|
+-----------+--------+------+----+

+-----------+--------+------+----+
|customer_id|order_id|amount|name|
+-----------+--------+------+----+
|          1|    1001|   100|john|
|          1|    1004|   200|john|
|          2|    1002|   200|mike|
|          3|    1003|   300|tony|
|          4|    NULL|  NULL|kent|
|          6|    1005|   200|NULL|
+-----------+--------+------+----+

+-----------+--------+------+----+
|customer_id|order_id|amount|name|
+-----------+--------+------+----+
|          1|    1001|   100|john|
|          1|    1004|   200|john|
|          2|    1002|   200|mike|
|          3|    1003|   300|tony|
|          4|    NULL|  NULL|kent|
|          6|    1005|   200|NULL|
+-----------+--------+------+----+

### Cross Join

In [9]:
spark.conf.set("spark.sql.crossJoin.enabled", "true")
df_left.crossJoin(df_right).show()

+--------+-----------+------+-----------+----+
|order_id|customer_id|amount|customer_id|name|
+--------+-----------+------+-----------+----+
|    1001|          1|   100|          1|john|
|    1001|          1|   100|          2|mike|
|    1001|          1|   100|          3|tony|
|    1001|          1|   100|          4|kent|
|    1002|          2|   200|          1|john|
|    1002|          2|   200|          2|mike|
|    1002|          2|   200|          3|tony|
|    1002|          2|   200|          4|kent|
|    1003|          3|   300|          1|john|
|    1003|          3|   300|          2|mike|
|    1003|          3|   300|          3|tony|
|    1003|          3|   300|          4|kent|
|    1004|          1|   200|          1|john|
|    1004|          1|   200|          2|mike|
|    1004|          1|   200|          3|tony|
|    1004|          1|   200|          4|kent|
|    1005|          6|   200|          1|john|
|    1005|          6|   200|          2|mike|
|    1005|          6|   200|          3|tony|
|    1005|          6|   200|          4|kent|
+--------+-----------+------+-----------+----+

In [10]:
df_left.join(df_right,on="customer_id",how="semi").show()

+-----------+--------+------+
|customer_id|order_id|amount|
+-----------+--------+------+
|          1|    1001|   100|
|          1|    1004|   200|
|          2|    1002|   200|
|          3|    1003|   300|
+-----------+--------+------+

In [11]:
df_left.join(df_right,on="customer_id",how="leftsemi").show()

+-----------+--------+------+
|customer_id|order_id|amount|
+-----------+--------+------+
|          1|    1001|   100|
|          1|    1004|   200|
|          2|    1002|   200|
|          3|    1003|   300|
+-----------+--------+------+

In [13]:
df_left.join(df_right,on="customer_id",how="left_semi").show()

+-----------+--------+------+
|customer_id|order_id|amount|
+-----------+--------+------+
|          1|    1001|   100|
|          1|    1004|   200|
|          2|    1002|   200|
|          3|    1003|   300|
+-----------+--------+------+

### Anti Join

In [14]:
df_left.join(df_right,on="customer_id",how="anti").show()
df_left.join(df_right,on="customer_id",how="leftanti").show()
df_left.join(df_right,on="customer_id",how="left_anti").show()

+-----------+--------+------+
|customer_id|order_id|amount|
+-----------+--------+------+
|          6|    1005|   200|
+-----------+--------+------+

+-----------+--------+------+
|customer_id|order_id|amount|
+-----------+--------+------+
|          6|    1005|   200|
+-----------+--------+------+

+-----------+--------+------+
|customer_id|order_id|amount|
+-----------+--------+------+
|          6|    1005|   200|
+-----------+--------+------+