In [1]:
import pyspark
from pyspark.sql import SparkSession
# Create a Spark session
spark = SparkSession.builder.appName("GMMClustering").getOrCreate()
df = spark.createDataFrame(
 [(1,"north",100,"walmart"),(2,"south",300,"apple"),
 (3,"west",200,"google"),(1,"east",200,"google"),
 (2,"north",100,"walmart"),(3,"west",300,"apple"),
 (1,"north",200,"walmart"),(2,"east",500,"google"), 
(3,"west",400,"apple"),],["emp_id","region","sales","customer"])
df.show()

+------+------+-----+--------+
|emp_id|region|sales|customer|
+------+------+-----+--------+
|     1| north|  100| walmart|
|     2| south|  300|   apple|
|     3|  west|  200|  google|
|     1|  east|  200|  google|
|     2| north|  100| walmart|
|     3|  west|  300|   apple|
|     1| north|  200| walmart|
|     2|  east|  500|  google|
|     3|  west|  400|   apple|
+------+------+-----+--------+

### The following code calculates the total sales achieved by every employee. It first group the records in the column emp_id for each unique value of emp_id. For each group, that is, for every employee id, it calculates the sum. Then the output is sorted by employee id.

In [2]:
df.groupby("emp_id").agg({"sales": 
"sum"}).orderBy('emp_id').show()

+------+----------+
|emp_id|sum(sales)|
+------+----------+
|     1|       500|
|     2|       900|
|     3|       900|
+------+----------+

### The following code calculates the maximum sales achieved by every employee. It first group the records in the column emp_id for each unique value of emp_id. For each group, that is, for every employee id, it calculates the maximum value. Then the output is sorted by employee id.

In [3]:
df.groupby("emp_id").agg({"sales": 
"max"}).orderBy('emp_id').show()

+------+----------+
|emp_id|max(sales)|
+------+----------+
|     1|       200|
|     2|       500|
|     3|       400|
+------+----------+

### The following code outputs the most recent sales achieved by every employee. It first group the records in the column emp_id for each unique value of emp_id. For each group, that is, for every employee id, it reads the last sales in every group. Then the output is sorted by employee id.

In [4]:
df.groupby("emp_id").agg({"sales": 
"last"}).orderBy('emp_id').show()

+------+-----------+
|emp_id|last(sales)|
+------+-----------+
|     1|        200|
|     2|        500|
|     3|        400|
+------+-----------+

### The following code outputs the average sales for each region. It first group the records in the column region for each unique value of region. For each group, that is, for every region, it calculates the average t sales in every group. Then the output is sorted by region.

In [5]:
df.groupby("region").agg({"sales": 
"sum"}).orderBy('region').show()

+------+----------+
|region|sum(sales)|
+------+----------+
|  east|       700|
| north|       400|
| south|       300|
|  west|       900|
+------+----------+

In [ ]:
The following code outputs the total sales for each customer. It first group the records 
in the column customer for each unique value of customer. For each group, that is, 
for every customer, it calculates the total sales. Then the output is sorted by customer.

In [6]:
df.groupby("customer").agg({"sales": 
"sum"}).orderBy('customer').show()

+--------+----------+
|customer|sum(sales)|
+--------+----------+
|   apple|      1000|
|  google|       900|
| walmart|       400|
+--------+----------+