In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
#lake/workspaces/cloudiq/test/test/store_data.csv
from pyspark.sql.functions import monotonically_increasing_id
store_data = spark.read.csv('/mnt/sdslake/sds/lake/workspaces/cloudiq/test/test/store_data.csv', header=False)

store_data = store_data.withColumn("id", monotonically_increasing_id() )
store_data.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19,id
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil,0
1,burgers,meatballs,eggs,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,1
2,chutney,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,2
3,turkey,avocado,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,3
4,mineral water,milk,energy bar,whole wheat rice,green tea,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,4

In [0]:
store_data.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19,id
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil,0
1,burgers,meatballs,eggs,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,1
2,chutney,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,2
3,turkey,avocado,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,3
4,mineral water,milk,energy bar,whole wheat rice,green tea,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,4

In [0]:
from pyspark.sql.functions import array,array_except,array_distinct
store_data = store_data.select(array(store_data._c0,store_data._c1,store_data._c2,store_data._c3,store_data._c4,store_data._c5,store_data._c6,store_data._c7,store_data._c8,store_data._c9,store_data._c10,store_data._c11,store_data._c12,store_data._c13,store_data._c14,store_data._c15,store_data._c16,store_data._c17,store_data._c18,store_data._c19).alias("basket"))
store_data.show()

+--------------------+
|              basket|
+--------------------+
|[shrimp, almonds,...|
|[burgers, meatbal...|
|[chutney, null, n...|
|[turkey, avocado,...|
|[mineral water, m...|
|[low fat yogurt, ...|
|[whole wheat past...|
|[soup, light crea...|
|[frozen vegetable...|
|[french fries, nu...|
|[eggs, pet food, ...|
|[cookies, null, n...|
|[turkey, burgers,...|
|[spaghetti, champ...|
|[mineral water, s...|
|[mineral water, n...|
|[shrimp, chocolat...|
|[turkey, eggs, nu...|
|[turkey, fresh tu...|
|[meatballs, milk,...|
+--------------------+
only showing top 20 rows

In [0]:
store_data = store_data.select(array_distinct(store_data.basket).alias("basket"))
store_data.show()

+--------------------+
|              basket|
+--------------------+
|[shrimp, almonds,...|
|[burgers, meatbal...|
|     [chutney, null]|
|[turkey, avocado,...|
|[mineral water, m...|
|[low fat yogurt, ...|
|[whole wheat past...|
|[soup, light crea...|
|[frozen vegetable...|
|[french fries, null]|
|[eggs, pet food, ...|
|     [cookies, null]|
|[turkey, burgers,...|
|[spaghetti, champ...|
|[mineral water, s...|
|[mineral water, n...|
|[shrimp, chocolat...|
|[turkey, eggs, null]|
|[turkey, fresh tu...|
|[meatballs, milk,...|
+--------------------+
only showing top 20 rows

In [0]:
#store_data.withColumn(store_data['basket'], array(None))

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-840679428115393>:1
----> 1 store_data.withColumn(store_data['basket'], array(None))

File /databricks/spark/python/pyspark/sql/utils.py:164, in try_remote_functions.<locals>.wrapped(*args, **kwargs)
    162     return getattr(functions, f.__name__)(*args, **kwargs)
    163 else:
--> 164     return f(*args, **kwargs)

File /databricks/spark/python/pyspark/sql/functions.py:7207, in array(*cols)
   7205 if len(cols) == 1 and isinstance(cols[0], (list, set)):
   7206     cols = cols[0]  # type: ignore[assignment]
-> 7207 return _invoke_function_over_seq_of_columns("array", cols)

File /databricks/spark/python/pyspark/sql/functions.py:108, in _invoke_function_over_seq_of_columns(name, cols)
    106 sc = SparkContext._active_spark_context
    107 assert sc is not None and sc._jvm is not None
--> 108 return _invoke_function(name, _to_seq(sc, cols, _to_java_column))

File /databricks/spark/python/pyspark/sql/column.py:87, in _to_seq(sc, cols, converter)
     80 """
     81 Convert a list of Columns (or names) into a JVM Seq of Column.
     82
     83 An optional `converter` could be used to convert items in `cols`
     84 into JVM Column objects.
     85 """
     86 if converter:
---> 87     cols = [converter(c) for c in cols]
     88 assert sc._jvm is not None
     89 return sc._jvm.PythonUtils.toSeq(cols)

File /databricks/spark/python/pyspark/sql/column.py:87, in <listcomp>(.0)
     80 """
     81 Convert a list of Columns (or names) into a JVM Seq of Column.
     82
     83 An optional `converter` could be used to convert items in `cols`
     84 into JVM Column objects.
     85 """
     86 if converter:
---> 87     cols = [converter(c) for c in cols]
     88 assert sc._jvm is not None
     89 return sc._jvm.PythonUtils.toSeq(cols)

File /databricks/spark/python/pyspark/sql/column.py:66, in _to_java_column(col)
     64     jcol = _create_column_from_name(col)
     65 else:
---> 66     raise TypeError(
     67         "Invalid argument, not a string or column: "
     68         "{0} of type {1}. "
     69         "For column literals, use 'lit', 'array', 'struct' or 'create_map' "
     70         "function.".format(col, type(col))
     71     )
     72 return jcol

TypeError: Invalid argument, not a string or column: None of type <class 'NoneType'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

In [0]:
from pyspark.sql import SparkSession
from pyspark.ml.fpm import FPGrowth
# Initialize the FP-Growth model
fp_growth = FPGrowth(itemsCol="basket", minSupport=0.05, minConfidence=0.2)

# Fit the model to the transactions
model = fp_growth.fit(store_data)

# Get frequent itemsets
frequent_itemsets = model.freqItemsets

# Show the frequent itemsets
frequent_itemsets.show()

# Get association rules
association_rules = model.associationRules

# Show the association rules
association_rules.show()

+--------------------+----+
|               items|freq|
+--------------------+----+
|     [grated cheese]| 393|
|[grated cheese, n...| 393|
|       [ground beef]| 737|
| [ground beef, null]| 737|
|          [tomatoes]| 513|
|    [tomatoes, null]| 513|
|           [burgers]| 654|
|     [burgers, null]| 654|
|              [eggs]|1348|
|[eggs, mineral wa...| 382|
|[eggs, mineral wa...| 382|
|        [eggs, null]|1348|
|            [turkey]| 469|
|      [turkey, null]| 469|
|         [chocolate]|1229|
|[chocolate, miner...| 395|
|[chocolate, miner...| 395|
|   [chocolate, null]|1229|
|          [escalope]| 595|
|    [escalope, null]| 595|
+--------------------+----+
only showing top 20 rows

+--------------------+---------------+-------------------+------------------+--------------------+
|          antecedent|     consequent|         confidence|              lift|             support|
+--------------------+---------------+-------------------+------------------+--------------------+
|              [milk]|         [null]|                1.0|1.0001333333333333| 0.12958272230369283|
| [frozen vegetables]|         [null]|                1.0|1.0001333333333333| 0.09532062391681109|
|              [soup]|         [null]|                1.0|1.0001333333333333| 0.05052659645380616|
|  [whole wheat rice]|         [null]|                1.0|1.0001333333333333|0.058525529929342755|
|     [grated cheese]|         [null]|                1.0|1.0001333333333333|  0.0523930142647647|
|          [pancakes]|         [null]|                1.0|1.0001333333333333| 0.09505399280095987|
|   [frozen smoothie]|         [null]| 0.9978947368421053|0.9980277894736842|  0.0631915744567391|
|     [mineral water]|         [eggs]|0.21364653243847875| 1.188844688294532| 0.05092654312758299|
|     [mineral water]|    [chocolate]|  0.220917225950783| 1.348332068231752| 0.05265964538061592|
|     [mineral water]|         [null]| 0.9994407158836689|0.9995739746457867| 0.23823490201306494|
|     [mineral water]|    [spaghetti]| 0.2505592841163311|1.4390851379453289| 0.05972536995067324|
|              [null]|[mineral water]|0.23826666666666665|0.9995739746457867| 0.23823490201306494|
|[spaghetti, miner...|         [null]|                1.0|1.0001333333333333| 0.05972536995067324|
|           [chicken]|         [null]|                1.0|1.0001333333333333| 0.05999200106652446|
|   [spaghetti, null]|[mineral water]| 0.3430321592649311|1.4390851379453289| 0.05972536995067324|
|       [cooking oil]|         [null]|                1.0|1.0001333333333333|  0.0510598586855086|
|   [chocolate, null]|[mineral water]| 0.3213995117982099|1.3483320682317521| 0.05265964538061592|
|           [cookies]|         [null]|                1.0|1.0001333333333333| 0.08038928142914278|
|          [tomatoes]|         [null]|                1.0|1.0001333333333333| 0.06839088121583789|
|         [green tea]|         [null]| 0.9989909182643795|0.9991241170534814| 0.13198240234635383|
+--------------------+---------------+-------------------+------------------+--------------------+
only showing top 20 rows